THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [2]:
import pandas as pd
import csv
import numpy as np
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\baseball.csv - baseball.csv.csv")

print(df)

       id     player  year  stint team  lg    g   ab   r    h  ...   rbi   sb  \
0   88641  womacto01  2006      2  CHN  NL   19   50   6   14  ...   2.0  1.0
1   88643  schilcu01  2006      1  BOS  AL   31    2   0    1  ...   0.0  0.0
2   88645  myersmi01  2006      1  NYA  AL   62    0   0    0  ...   0.0  0.0
3   88649  helliri01  2006      1  MIL  NL   20    3   0    0  ...   0.0  0.0
4   88650  johnsra05  2006      1  NYA  AL   33    6   0    1  ...   0.0  0.0
..    ...        ...   ...    ...  ...  ..  ...  ...  ..  ...  ...   ...  ...
95  89525  benitar01  2007      2  FLO  NL   34    0   0    0  ...   0.0  0.0
96  89526  benitar01  2007      1  SFN  NL   19    0   0    0  ...   0.0  0.0
97  89530  ausmubr01  2007      1  HOU  NL  117  349  38   82  ...  25.0  6.0
98  89533   aloumo01  2007      1  NYN  NL   87  328  51  112  ...  49.0  3.0
99  89534  alomasa02  2007      1  NYN  NL    8   22   1    3  ...   0.0  0.0

     cs  bb    so  ibb  hbp   sh   sf  gidp
0   1.0   4   4.0  0.0  0.0  3.0  0.0   0.0
1   0.0   0   1.0  0.0  0.0  0.0  0.0   0.0
2   0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
3   0.0   0   2.0  0.0  0.0  0.0  0.0   0.0
4   0.0   0   4.0  0.0  0.0  0.0  0.0   0.0
..  ...  ..   ...  ...  ...  ...  ...   ...
95  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
96  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
97  1.0  37  74.0  3.0  6.0  4.0  1.0  11.0
98  0.0  27  30.0  5.0  2.0  0.0  3.0  13.0
99  0.0   0   3.0  0.0  0.0  0.0  0.0   0.0

[100 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [3]:
ct = df[["ab"]]
ct.apply(lambda x: (x + np.log10(x))/np.sqrt(x))

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

           ab
0    7.311338
1    1.627074
2        -inf
3    2.007517
4    2.767169
..        ...
95       -inf
96       -inf
97  18.817656
98  18.249686
99   4.976621

[100 rows x 1 columns]

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [4]:
df1 = df[["g"]]
df1.apply(lambda x: x["g"], axis = 1)

0      19
1      31
2      62
3      20
4      33
     ...
95     34
96     19
97    117
98     87
99      8
Length: 100, dtype: int64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [5]:
df_new = df[["r"]]
df_new.apply(lambda x: x + 100, axis = 0)

      r
0   106
1   100
2   100
3   100
4   100
..  ...
95  100
96  100
97  138
98  151
99  101

[100 rows x 1 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [77]:
df3 = df[["g"]]
s= df3.apply(lambda x:np.sum(x), axis = 0)
m= df3.apply(lambda x:np.mean(x), axis = 0)
sq= df3.apply(lambda x:np.sqrt(x), axis = 0)
l= df3.apply(lambda x:np.log(x), axis = 0)
print(s)
print(m)
print(sq)
print(l)

g    5238
dtype: int64
g    52.38
dtype: float64
            g
0    4.358899
1    5.567764
2    7.874008
3    4.472136
4    5.744563
..        ...
95   5.830952
96   4.358899
97  10.816654
98   9.327379
99   2.828427

[100 rows x 1 columns]
           g
0   2.944439
1   3.433987
2   4.127134
3   2.995732
4   3.496508
..       ...
95  3.526361
96  2.944439
97  4.762174
98  4.465908
99  2.079442

[100 rows x 1 columns]

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [78]:
def my_function(x):
    if x > 0:
        kq = np.log10(x)
    else:
        kq = np.exp**x
    return kq
n = int(input('nhap n: '))
a = my_function(n)
print(a)

nhap n: 6
0.7781512503836436

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [79]:
df4 = df[["g"]]
df4.apply(lambda x: my_function(x['g']), axis = 1)

0     1.278754
1     1.491362
2     1.792392
3     1.301030
4     1.518514
        ...
95    1.531479
96    1.278754
97    2.068186
98    1.939519
99    0.903090
Length: 100, dtype: float64